---
layout: archive
---

{{ content }}

<section id="Name" class="major">
    <div class="inner">
        <header class="major">
            <h1></h1>
        </header>
    </div>
</section>

<section id="contents">
    <div class = 'about'>
        <header class = 'about'>
            <h1> About </h1>
        </header>
        <p>I would like to document my learning progress, reflect on what I have learned,
            and most importantly, share my experience venturing through the fields of data science. <br> <br>
            
            Hope that I can provide you with beneficial information from my blog posts,
            and I strive to be keep up-to-date with latest applications according to my studies :D </p>
    </div>
    <div class = 'major'>
        <header class = 'major'>
            <h1> Education </h1>
        </header>
        <p>[MAR 2019 ~ present] Major in the Department of Industrial Engineering <br>
           [MAR 2019 ~ present] Major in the Department of Applied Statistics <br>
           [JAN 2023 ~ present] Yonsei Data Science Lab Seminar</p>
    </div>
    <div class = 'study'>
        <header class = 'study'>
            <h1> Study Topics </h1>
        </header>
        <p>Stanford CS244n - Natural Language Processing with Deep Learning  <br>
               - Week 1 : <a href="https://a2ran.github.io/study/nlp-week1-lecture/"> Blog post Link</a></p>
               - Week 2 : <a href="https://a2ran.github.io/study/nlp-week2-lecture/"> Blog post Link</a></p>
           Natural Language Processing Paper Reviews <br>
               - Seq2seq : <a href="https://a2ran.github.io/paper/seq2seq/"> Blog post Link</a></p>
               - attention : <a href="https://a2ran.github.io/paper/attention/"> Blog post Link</a></p>
        </p>
    </div>
    <div class = 'awards'>
        <header class = 'awards'>
            <h1> Awards </h1>
        </header>
        <p>Tensorflow Developer Certificate (Expiration Date: 11/30/2025) <br>
            TOEFL IBT score: 112 (Expiration Date: 11/01/2024) <br>
            TOEIC score: 975 (Expiration Date: 12/03/2024) <br>
            Yonsei-Nexon sqrt{i} Creative Platform Excellence Prize <br>
            2019 Social Impact Championship Top Prize</p>
    </div>
    <div class = 'projects'>
        <header class = 'projects'>
            <h1> Projects </h1>
        </header>
        <p>[EDA] EDA analysis on real-life applications Presentation
        <br>
        <a href="https://github.com/a2ran/9th_EDA/tree/main/4%E1%84%8C%E1%85%A9"> Github Link</a> <br>
        [NLP] Kor - Eng text translator
        <br>
        <a href="https://github.com/a2ran/kor-eng-translator"> Github Link</a></p>
    </div>
    <div class = 'skills'>
        <header class = 'skills'>
            <h1> Skills </h1>
        </header>
        <p>Advanced: English <br>
           Beginning: Python, R</p>
    </div>
    <div class="research">
        <header class="github">
            <h1> Link to my github repository </h1>
        </header>
        <p><div class="notice--primary" markdown="1">
           <a href="https://github.com/a2ran"> a2ran_github</a>
           </div></p>
        
    </div>
</section>




<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

<!--{% if paginator %}-->
<!--  {% assign posts = paginator.posts %}-->
<!--{% else %}-->
<!--  {% assign posts = site.posts %}-->
<!--{% endif %}-->

<!--{% assign entries_layout = page.entries_layout | default: 'list' %}-->
<!--<div class="entries-{{ entries_layout }}">-->
<!--  {% for post in posts %}-->
<!--    {% include archive-single.html type=entries_layout %}-->
<!--  {% endfor %}-->
<!--</div> -->

<!--{% include paginator.html %}-->
