---
layout: archive
---

{{ content }}


<img src="/assets/images/ds_lab.png" width="50%" height="50%">

<section id="Name" class="major">
    <div class="inner">
        <header class="major">
            <h1>2023년 1월부터 꾸준히 공부한 내용과 만든 토이 프로젝트 위주로 올리는 깃허브 페이지입니다</h1>
        </header>
        <div class="content">
            <p> 글 수가 어느정도 많아지면 전면적으로 개정 예정입니다</p>
        </div>
    </div>
</section>

<section id="contents">
    <div class="subjects">
        <header class="major">
            <h1>작성한 글은 사이드바와 카테고리 메뉴에서 확인할 수 있습니다</h1>
        </header>
        <p> 글을 영어로 적어보는 연습을 하는 중입니다 </p>
    </div>
    <div class="research">
        <header class="major">
            <h1> 제 깃허브 저장소 링크를 달아두겠습니다</h1>
        </header>
        <p><div class="notice--primary" markdown="1">
           <a href="https://github.com/a2ran"> a2ran_github</a>
           </div></p>
        
    </div>
</section>




<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

<!--{% if paginator %}-->
<!--  {% assign posts = paginator.posts %}-->
<!--{% else %}-->
<!--  {% assign posts = site.posts %}-->
<!--{% endif %}-->

<!--{% assign entries_layout = page.entries_layout | default: 'list' %}-->
<!--<div class="entries-{{ entries_layout }}">-->
<!--  {% for post in posts %}-->
<!--    {% include archive-single.html type=entries_layout %}-->
<!--  {% endfor %}-->
<!--</div> -->

<!--{% include paginator.html %}-->
