---
layout: archive
---

{{ content }}

<section id="Name" class="major">
    <div class="inner">
        <header class="major">
            <h1></h1>
        </header>
    </div>
</section>

<section id="contents">
    <div class="research">
        <header class="major">
            <h1> Link to my github repository </h1>
        </header>
        <p><div class="notice--primary" markdown="1">
           <a href="https://github.com/a2ran"> a2ran_github</a>
           </div></p>
        
    </div>
</section>




<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

<!--{% if paginator %}-->
<!--  {% assign posts = paginator.posts %}-->
<!--{% else %}-->
<!--  {% assign posts = site.posts %}-->
<!--{% endif %}-->

<!--{% assign entries_layout = page.entries_layout | default: 'list' %}-->
<!--<div class="entries-{{ entries_layout }}">-->
<!--  {% for post in posts %}-->
<!--    {% include archive-single.html type=entries_layout %}-->
<!--  {% endfor %}-->
<!--</div> -->

<!--{% include paginator.html %}-->
